body {
	margin: 0px;
}
#container {
	width: 640px;
	min-height: 860px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ccc;
	font-family: helvetica;
}
.genre{
	width: 570px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 66px;
	font-size: 0;
	background-color: gray;
	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
.genre-text{
	margin-top: 10px;
	margin-left: 50px;
	width: 452px;
	font-size: 40px;
}
.inline{
	display: inline-block;
	vertical-align: top;
}
.plus-button{
	height: 66px;
	width: 66px;
	background-image: url('green-button.png');
}
#back-arrow{
	width: 200px;
	height: inherit;
	background-color: black;
}
#back-arrow img{
	margin-top: 33px;
	margin-left: 15px;
}
#header{
	height: 120px;
	background-color:  black;
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	line-height: 115px;
	
}
#info {
	position: relative;
	top: -88px;
	right: -200px;
}
#back {
	position: relative;
	top: -84px;
	left: -200px;
}
#logo{
	width: 440px;
	height: inherit;
	background-color: black;
	font-size: 36px;
	text-align: center;
	color: white;
}
#mag-glass{
	width: 70px;
	height: 70px;
	background-image: url('mag-glass.png');
	border-width: 0;
	border-radius: 0px 5px 5px 0px;
}
#main{
	font-size: 48px;
	text-align: center;
}
#main p{
	line-height: 30px;
}
#search-bar{
	font-size: 0;
}
.big-input {
	width: 500px;
	height: 67px;
	font-size: 40px;
	border-radius: 5px 5px 5px 5px;
	padding-left: 5px;
	padding-right: 0;
	padding-top: 0;
	padding-bottom:0;
	float: right;
}
.go-button {
	float: right;
	margin-left: 5px;
	margin-right: 20px;
}
